@page
@model Electronic_API2.Pages.IndexModel
@{
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Products</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background-color: burlywood;">

    <div>
        <!-- Navigation bar code -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-warning">
            <a class="navbar-brand" href="#">Products</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <button class="btn btn-outline-dark" data-toggle="modal" data-target="#addProduct">Add New Product</button>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- following division is creating main area of the web page where all product data will display -->
        <div class="container">
            <div class="row" id="allProducts">
            </div>
        </div>
    </div>


    <!-- below mentioned code will create the template to add a new products -->
    <div class="modal" tabindex="-1" role="dialog" id="addProduct">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Products</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="Product_Name">Product Name</label>
                            <input type="text" class="form-control" id="product_Name" aria-describedby="product_NameHelp" placeholder="Product Name">

                        </div>
                        <div class="form-group">
                            <label for="Brand_Name">Brand Name</label>
                            <input type="text" class="form-control" id="brand_Name" aria-describedby="brand_NameHelp" placeholder="Brand Name">

                        </div>
                        <div class="form-group">
                            <label for="Product_Category">Product Category</label>
                            <input type="text" class="form-control" id="product_Category" aria-describedby="product_CategoryHelp" placeholder="Product Category">
                        </div>
                        <div class="form-group">
                            <label for="Price">Price</label>
                            <input type="number" class="form-control" id="price" aria-describedby="priceHelp" placeholder="Price">
                        </div>
                        <div class="form-group">
                            <label for="Discount">Discount</label>
                            <input type="number" class="form-control" id="discount" aria-describedby="discountHelp" placeholder="Discount">
                        </div>

                        <div class="form-group" id="result">


                        </div>
                        <button type="button" class="btn btn-primary" onclick="addProduct()">Add Product</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>

    <!-- below mentioned code will create the template to Update a new products -->
    <div class="modal" tabindex="-1" role="dialog" id="UpdateProducts">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update Products</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <input type="hidden" class="form-control" id="update_id" aria-describedby="IdHelp">
                        </div>
                        <div class="form-group">
                            <label for="Product_Name">Product Name</label>
                            <input type="text" class="form-control" id="update_product_Name" aria-describedby="product_NameHelp">

                        </div>
                        <div class="form-group">
                            <label for="Brand_Name">Brand Name</label>
                            <input type="text" class="form-control" id="update_brand_Name" aria-describedby="brand_NameHelp">

                        </div>
                        <div class="form-group">
                            <label for="Product_Category">Product Category</label>
                            <input type="text" class="form-control" id="update_product_Category" aria-describedby="product_CategoryHelp">
                        </div>
                        <div class="form-group">
                            <label for="Price">Price</label>
                            <input type="number" class="form-control" id="update_price" aria-describedby="priceHelp">
                        </div>
                        <div class="form-group">
                            <label for="Discount">Discount</label>
                            <input type="number" class="form-control" id="update_discount" aria-describedby="discountHelp">
                        </div>

                        <div class="form-group" id="update_result">


                        </div>
                        <button type="button" class="btn btn-primary" onclick="UpdateProducts()">Update Product</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>

    <!-- java script files that will help to link the front end and back end -->
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script>
        var uri = 'api/Products';

        //Java script main function so JS start from here
        $(document).ready(function () {
            $.getJSON(uri)
                .done(function (data) {
                    $("#ProductsTemplate").tmpl(data).appendTo("#allProducts");
                });
        });


        // function to get all product data and show on web page
        function getAllProducts() {
            $.getJSON(uri)
                .done(function (data) {
                    $("#allProducts").text("");
                    $("#ProductsTemplate").tmpl(data).appendTo("#allProducts");
                });
        }

        // function to add data for new Product
        function addProduct() {
            var _product_Name = $('#product_Name').val();
            var _brand_Name = $('#brand_Name').val();
            var _product_Category = $('#product_Category').val();
            var _price = parseFloat($('#price').val());
            var _discount = parseFloat($('#discount').val());
            var Product = {
                product_Name: _product_Name,
                brand_Name: _brand_Name,
                product_Category: _product_Category,
                price: _price,
                discount: _discount
            };
            $.ajax({
                type: "POST",
                url: uri,
                data: JSON.stringify(Product),
                contentType: "application/json; charset=utf-8"
            }).done(function (response) {
                $("#result").html("Success");
                getAllProducts();
            }).fail(function (jqXHR, textStatus) {
                $("#result").html("An error occured when Adding the data.");
            });
        }


        //funtion to delete a particular data based on id
        function remove(id) {
            var yes = confirm("Are you sure you want to delete this Data?");
            if (yes) {
                $.ajax({
                    type: "DELETE",
                    url: uri + "/" + id,
                }).done(function (response) {
                    getAllProducts();
                });
            }
        }

        // funtion to fill the data into update template
        function getProductsForUpdate(id) {
            $.ajax({
                type: "GET",
                url: uri + "/" + id,
                contentType: "application/json"
            }).done(function (response) {
                $('#update_id').val(response.id);
                $('#update_product_Name').val(response.product_Name);
                $('#update_brand_Name').val(response.brand_Name);
                $('#update_product_Category').val(response.product_Category);
                $('#update_price').val(response.price);
                $('#update_discount').val(response.discount);
            });
        }
        // function to update data of the product
        function UpdateProducts() {
            var _product_Name = $('#update_product_Name').val();
            var _brand_Name = $('#update_brand_Name').val();
            var _product_Category = $('#update_product_Category').val();
            var _price = parseFloat($('#update_price').val());
            var _discount = parseFloat($('#update_discount').val());
            var ProductUpdate = {
                id: parseInt($('#update_id').val()),     
                product_Name: _product_Name,
                brand_Name: _brand_Name,
                product_Category: _product_Category,
                price: _price,
                discount: _discount
            };
            $.ajax({
                type: "PUT",
                url: uri + "/" + $('#update_id').val(),
                data: JSON.stringify(ProductUpdate),
                contentType: "application/json; charset=utf-8"
            }).done(function (response) {
                $("#update_result").html("Success");
                getAllProducts();
            }).fail(function (jqXHR, textStatus) {
                $("#update_result").html("An error occured when Update the record.");
            });
        }


    </script>

    <!-- below mentioned code will create the template on the web page to display all products -->
    <script id="ProductsTemplate" type="text/x-jquery-tmpl">
        <div class="col-lg-3" style="margin:10px;">
            <div class="card card text-white bg-dark border-warning mb-3" style="width: 18rem; padding:20px">
                <div class="card-body">
                    <h5 class="card-title">Product Name: ${product_Name}</h5>
                    <p class="card-text">Brand Name :  ${brand_Name}</p>
                    <p class="card-text">Product_Category : ${product_Category}</p>
                    <p class="card-text">Price  : ${price}</p>
                    <p class="card-text">Discount  : ${discount}</p>
                </div>
                <span>
                    <button class="btn btn-primary" onclick="getProductsForUpdate('${id}')" data-toggle="modal" data-target="#UpdateProducts">Update</button>
                    <a href="#" class="btn btn-danger" onclick="remove('${id}')">Delete</a>
                </span>
            </div>
        </div>
    </script>

</body>
</html>

